.blurBack{
    backdrop-filter: blur(5px);
    z-index: 1;
}
.cart{
    background-color: #ACA8AF;
    height: 90%;
}
.line{
    background-color: #ACA8AF;
}
.products{
    height: 92%;
}
.product{

}
.close{
    width: 25px;
    height: 25px;
}
.images{
    width: 130px;
    height: 130px;
}
.submit{
    background-color: #19101d;
    color: #EDEDED;

    /* border: #19101d 5px solid; */
}