.navBar {
    background-color: #281D2C;
    color: #EDEDED;
    z-index: 1;
}
.imageLogo{
    width: 35px;
    height: 35px;
}
.textLogo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}
.navButton{

}
.langButton{
    background-color: #281D2C;
    -webkit-appearance:none;
    font-size: 17px;
}
.langButton:hover{
    transform: scale(1.1);
}
.langIcon{
    height: 35px;
    width: 35px;
}
.navButton:hover{
    background-color: #EDEDED;
    color: #19101d;
    font-weight: bold;
    transform: scale(1.1);
}