.shopFilter{
    border: solid #999 1px;
}
.shopCartIcon{
    width: 35px;
    height: 35px;
}
.searchInput{
    color: #19101d;
}
.deleteButton{
    background-color: #e63e32;
    color: #EDEDED;
    border: #e63e32 5px solid;
}
.deleteButton:hover{
    background-color: #EDEDED;
    color: #e63e32;
    border: #EDEDED 5px solid;
}
.shopItems{
    background-color: white;
    max-width: 300px;
    border: solid #999 1px;
}
.searchButton{
    background-color: white;
    color: #19101d;
}
.shopBuyButton{
    background-color: #19101d;
    color: #EDEDED;
    border: #19101d 5px solid;
}
.shopBuyButton:hover{
    background-color: #EDEDED;
    color: #19101d;
    border: #EDEDED 5px solid;
}