.requestItems{
    background-color: white;
    max-width: 300px;
    border: solid #999 1px;
}
.searchInput{
    color: #19101d;
}
.searchButton{
    background-color: white;
    color: #19101d;
}
.shopBuyButton{
    background-color: #19101d;
    color: #EDEDED;
    border: #19101d 5px solid;
}
.deleteButton{
    background-color: #e63e32;
    color: #EDEDED;
    border: #e63e32 5px solid;
}